@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Righteous&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(250, 246, 255);
  color: black;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  /* border: 1rem solid white; */
}

h1{
  font-size: 4rem;
  font-family: 'Righteous';
}

h2{
  font-size: 1.5rem;
  font-family: 'Righteous';
}

p{
  font-size: 1.2rem;
}
.space20{
  min-height: 20vh;
}
.space5{
  min-height: 5vh;
}

.span2{
  grid-column: span 2;
}

.bg1{
  background-image: linear-gradient(to right, #75dbcd , #b1fff5);
}
.bg2{
  background-image: linear-gradient(to bottom, #72ddf7 , #c6f4ff);
}
.bg3{
  background-image: linear-gradient(to top, #ea84c9 , #ffd7f2);
}
.bg4{
  background-image: linear-gradient(#074f75, #074f75);
}
.bg5{
  background-image: linear-gradient(to bottom, #f8d1b4 , #fff6ef);
}
.bg6{
  background-image: linear-gradient(to right, #91d7f5 , #d0f1ff);
}

.header{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto;
}

.navbar{
  display: none;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: auto;
  width: 90%;
  min-height: 10rem;
}
.ham{
  font-size: 2rem;
  padding: 1rem;
}
.ham i{
  font-size: 2rem;
}

.ham_items{
  width: 50vw;
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 1rem;
}
.navbar .logo img{
  background-color: white;
  border-radius: 1.5rem;
  max-width: 50%;
}
.navbar .logo{
  padding: 1rem;
}
.navbar .links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .links a{
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.hero{
  padding: 1.5rem;
  text-align: center;
  width: 90%;
  margin: auto;
}

.cards_container{
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 1.5rem;
  margin: auto;
}
.cards_col1{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
}
.cards_col2{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
}
.cards_col3{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}

.card{
  /* border: .3rem solid black; */
  padding: 1rem;
  box-shadow: 3px 3px 20px rgb(203, 209, 210);
  background-color: white;
  border-radius: 1rem;
}

.card img{
  max-width: 100%;
  border-radius: 1.5rem;
}
.tag{
  display: inline-block;
  background-color: rgb(177, 255, 177);
  font-weight: bolder;
  padding: .5rem 2rem .5rem 2rem;
  border-radius: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

.date{
  font-size: 1rem;
}

.about{
  min-height: 30rem;
}
.categories{
  min-height: 40rem;
}
.quote{
  min-height: 20rem;
}
.recent{
  min-height: 40rem;
}

@media (min-width: 600px) {
  .navbar{
      display: grid;
      grid-template-columns: 2fr 9fr;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
  
}

@media (min-width: 1000px) {
  
  .navbar{
      display: grid;
      grid-template-columns: 1fr 9fr;
  }
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
}

@media (min-width: 1400px) {
 
  .ham{
    display: none;
  }
  .ham_items{
    display: none;
  }
}